:host {
  display: block;
  color: white;
}

[mat-dialog-title] {
  margin-bottom: 0;
  cursor: move;
}

.close-button {
  float: right;
  top: -38px;
  right: -15px;
  font-size: 20px;
  color: rgba(196, 196, 196, 0.5);
}
.close-button:hover {
  color: rgba(196, 196, 196, 0.788);
}

h1 {
  padding-top: 30px;
}

.build-panel {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
