@use '@angular/material' as mat;
@use 'src/m3-theme';

:host {
  display: block;
}

h3 {
  margin-top: 16px;
}

:host ::ng-deep mat-button-toggle-group {
  border: solid 1px white;
  --mat-standard-button-toggle-divider-color: white;
  .mat-button-toggle {
    color: white !important;
    background-color: transparent !important;
    min-width: 150px;
  }
  .mat-pseudo-checkbox::after {
    color: white !important;
  }
  .mat-button-toggle-checked {
    background-color: rgba(mat.get-theme-color(m3-theme.$dark-theme, primary, 60), 0.3) !important;
  }
}

// mobile
@media only screen and (max-width: 700px) {
  :host ::ng-deep mat-button-toggle-group.large {
    min-width: 306px;
    .mat-button-toggle {
      min-width: unset;
      width: 100%;
    }
  }
}

