@import 'src/custom-theme';

:host {
  display: block;
}

.symbol {
  @include recolor(#ffffff);
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

mat-dialog-content {
  img {
    display: block;
    margin: auto;
    padding-bottom: 30px;
  }

  table {
    width: 100%;
  }
}
