<div mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>
  <img *ngIf="HAS_SYMBOL.includes(body)" [src]="'assets/symbols/' + body.id + '.svg'" class="symbol" [alt]="body.id | translate">
  {{ body.id | translate }},
  <ng-container [ngSwitch]="body.type">
    <ng-container *ngSwitchCase="CELESTIAL_BODY_TYPE.STAR">{{ 'star' | translate }}</ng-container>
    <ng-container *ngSwitchCase="CELESTIAL_BODY_TYPE.PLANET">{{ 'planet' | translate }}</ng-container>
    <ng-container *ngSwitchCase="CELESTIAL_BODY_TYPE.DWARF_PLANET">{{ 'dwarf planet' | translate }}</ng-container>
    <ng-container *ngSwitchCase="CELESTIAL_BODY_TYPE.SATELLITE">{{ 'satellite of PLANET' | translate: { PLANET: body.orbitBody.id | translate } }}</ng-container>
  </ng-container>
</div>

<button mat-icon-button mat-dialog-close class="close-button">
  <mat-icon>✖&#xFE0E;</mat-icon>
</button>

<mat-dialog-content>
  <ng-container *ngIf="!MISSING_PICTURES.includes(body)" [ngSwitch]="body.type">
    <img *ngSwitchCase="CELESTIAL_BODY_TYPE.STAR" src="assets/celestial_bodies/{{ body.id }}_small.jpg" width="300" [alt]="body.id | translate">
    <img *ngSwitchCase="CELESTIAL_BODY_TYPE.PLANET" src="assets/celestial_bodies/{{ body.id }}/{{ body.id }}_small.jpg" width="300" [alt]="body.id | translate">
    <img *ngSwitchCase="CELESTIAL_BODY_TYPE.DWARF_PLANET" src="assets/celestial_bodies/{{ body.id }}/{{ body.id }}_small.jpg" width="300" [alt]="body.id | translate">
    <img *ngSwitchCase="CELESTIAL_BODY_TYPE.SATELLITE" src="assets/celestial_bodies/{{ body.orbitBody.id }}/{{ body.id }}_small.jpg" width="300" [alt]="body.id | translate">
  </ng-container>

  <table>
    <tr>
      <td><a [href]="'https://en.wikipedia.org/wiki/Mass' | translate" target="_blank">{{ 'Mass' | translate }}</a></td>
      <td>{{ 'NB kg' | translate: { NB: body.mass | number: '1.0-3' : lang } }}</td>
    </tr>
    <tr>
      <td><a [href]="'https://en.wikipedia.org/wiki/Radius' | translate" target="_blank">{{ 'Mean radius' | translate }}</a></td>
      <td>{{ 'NB km' | translate: { NB: body.radius | number: '1.0-0' : lang } }}</td>
    </tr>
    <ng-container *ngIf="body !== SUN">
      <tr>
        <td><a [href]="'https://en.wikipedia.org/wiki/Mean_anomaly' | translate" target="_blank">{{ 'True anomaly' | translate }}</a></td>
        <td>{{ 'NB°' | translate: { NB: body.trueAnomaly | number: '1.0-0' : lang } }}</td>
      </tr>
      <tr>
        <td><a [href]="'https://en.wikipedia.org/wiki/True_anomaly' | translate" target="_blank">{{ 'Mean anomaly' | translate }}</a></td>
        <td>{{ 'NB°' | translate: { NB: body.meanAnomaly | number: '1.0-0' : lang } }}</td>
      </tr>
      <tr>
        <td><a [href]="'https://en.wikipedia.org/wiki/Orbital_eccentricity' | translate" target="_blank">{{ 'Eccentricity' | translate }}</a></td>
        <td>{{ body.eccentricity | number: '1.1-10' : lang }}</td>
      </tr>
      <tr>
        <td><a [href]="'https://en.wikipedia.org/wiki/Semi-major_and_semi-minor_axes' | translate" target="_blank">{{ 'Semi-major axis' | translate }}</a></td>
        <td>{{ 'NB km' | translate: { NB: body.semiMajorAxis | number: '1.0-0' : lang } }}</td>
      </tr>
      <tr *ngIf="body.speed">
        <td><a [href]="'https://en.wikipedia.org/wiki/Orbital_speed' | translate" target="_blank">{{ 'Average orbital speed' | translate }}</a></td>
        <td>{{ 'NB km/s' | translate: { NB: body.speed | number: '1.0-0' : lang } }}</td>
      </tr>
    </ng-container>
  </table>
</mat-dialog-content>
