<mat-divider></mat-divider>

<mat-drawer-container>
  <mat-drawer mode="side" opened>
    <mat-nav-list>
      <a mat-list-item (click)="currrentSection = Section.SETTINGS" [ngClass]="{ active: currrentSection === Section.SETTINGS }">
        {{ 'Settings' | translate }}
      </a>
      <a mat-list-item (click)="currrentSection = Section.CONTACT" [ngClass]="{ active: currrentSection === Section.CONTACT }">
        {{ 'Contact' | translate }}
      </a>
      <a mat-list-item (click)="currrentSection = Section.ABOUT" [ngClass]="{ active: currrentSection === Section.ABOUT }">
        {{ 'About' | translate }}
      </a>
      <a mat-list-item (click)="currrentSection = Section.LEGALS" [ngClass]="{ active: currrentSection === Section.LEGALS }">
        {{ 'Legals' | translate }}
      </a>
    </mat-nav-list>
  </mat-drawer>

  <mat-drawer-content [ngSwitch]="currrentSection">
    <app-settings *ngSwitchCase="Section.SETTINGS"></app-settings>
    <app-contact *ngSwitchCase="Section.CONTACT"></app-contact>
    <app-about *ngSwitchCase="Section.ABOUT"></app-about>
    <app-legals *ngSwitchCase="Section.LEGALS"></app-legals>
  </mat-drawer-content>
</mat-drawer-container>
