:host {
  display: block;
  backdrop-filter: blur(10px);
  background: hsla(0, 0%, 100%, .3) !important;
}

mat-drawer-container, mat-drawer {
  background-color: transparent;
  height: 100%;
}

mat-drawer {
  min-width: 200px;
}
