:host {
  display: block;
  backdrop-filter: blur(10px);
  background: hsla(0, 0%, 100%, .3) !important;
}

mat-drawer-container, mat-drawer {
  color: white;
  background-color: transparent;
  height: 100%;
}

mat-nav-list a {
  color: white;
}
mat-nav-list a.active {
  background-color: #868686;
}

mat-drawer {
  min-width: 200px;
}
