<p>This product was made possible thanks to the in-depth articles about celestial mechanics from <a href="https://www.wikipedia.org" target="_blank">Wikipedia</a>.</p>

<p>The data for the orbits of the planets and moons come from:</p>
<ul>
  <li>
    <a href="https://ssd.jpl.nasa.gov" target="_blank">Solar System Dynamics from the Jet Propulsion Laboratory at NASA</a>
  </li>
  <li>
    <a href="https://sites.google.com/carnegiescience.edu/sheppard/moons" target="_blank">Scott S. Sheppard from the Earth & Planets Laboratory at Carnegie Science</a>
  </li>
</ul>

<p>Images of celestial bodies courtesy of <a href="https://www.wikipedia.org" target="_blank">Wikipedia</a>.</p>
