@use '@angular/material' as mat;
@import '~src/custom-theme';

:host {
  display: block;
}

:host ::ng-deep mat-button-toggle button {
  width: 150px;
  height: 100px;
}

mat-button-toggle-group {
  border: none;
}

.mat-button-toggle {
  background-color: transparent;
  border: solid 1px rgba(0, 0, 0, 0.12);
}

.mat-button-toggle-checked {
  background-color: mat.get-color-from-palette($solar-system-primary, 0.2);
  border: solid 1px mat.get-color-from-palette($solar-system-primary, 0.5);
}

:host ::ng-deep .mat-button-toggle .mat-button-toggle-label-content {
  width: 100%;
  height: 100%;
  padding: 0;
}

mat-button-toggle-group .check {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  margin: 10px;
  line-height: 20px;
  font-size: 20px;
  font-weight: bold;
  color: mat.get-color-from-palette($solar-system-primary);
}

mat-button-toggle-group .text {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 10px;
  line-height: 20px;
  font-size: 15px;
  color: #bbbbbb;
}

mat-button-toggle-group .mat-button-toggle-checked .text {
  color: mat.get-color-from-palette($solar-system-primary);
}

