<h2 mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>
  {{ 'Contact' | translate }}
</h2>

<button mat-icon-button mat-dialog-close class="close-button">
  <mat-icon>✖&#xFE0E;</mat-icon>
</button>

<br>

<p [innerHTML]="'CONTACT_CONTENT_1' | translate"></p>
<a href="https://github.com/lebesnec/solar-system/discussions" target="_blank" mat-stroked-button>
  💬&#xFE0E;&nbsp;&nbsp;github.com/lebesnec/solar-system
</a>
<a href="https://twitter.com/TODO" target="_blank" mat-stroked-button>
  🐦&#xFE0E;&nbsp;&nbsp;twitter.com/TODO
</a>
<a href="mailto:christophe.lebesnerais.pro@gmail.com" mat-stroked-button>
  ✉&#xFE0E;&nbsp;&nbsp;christophe.lebesnerais.pro@gmail.com
</a>
