:host {
  display: block;
}

p {
  margin-bottom: 10px;
}

a[mat-stroked-button] {
  display: block;
  height: 80px;
  width: 100%;
  margin-top: 15px;
  padding-top: 28px;
  border-color: rgba(197, 197, 197, 0.5) !important;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  color: white;
  mat-icon {
    font-size: 22px;
  }
}
a[mat-stroked-button]:hover {
  background-color: rgba(197, 197, 197, 0.2);
}

:host ::ng-deep a[mat-stroked-button] .mat-button-wrapper {
  line-height: 80px;
}

// mobile
@media only screen and (max-width: 800px) and (min-width: 500px) {
  a[mat-stroked-button] {
    margin-right: auto;
    margin-left: auto;
    width: 75%;
    font-size: 14px;
  }
}
@media only screen and (max-width: 500px) {
  a[mat-stroked-button] {
    font-size: 13px;
  }
}

