:host {
  display: block;
  color: white;
}

[mat-dialog-title] {
  margin-bottom: 0;
  cursor: move;
}

p {
  margin-bottom: 10px;
}

a[mat-stroked-button] {
  display: block;
  height: 80px;
  width: 100%;
  margin-top: 15px;
  border-color: rgba(197, 197, 197, 0.5) !important;
  font-size: 16px;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
}
a[mat-stroked-button]:hover {
  background-color: rgba(197, 197, 197, 0.2);
}

:host ::ng-deep a[mat-stroked-button] .mat-button-wrapper {
  line-height: 80px;
}

.close-button {
  float: right;
  top: -38px;
  right: -15px;
  font-size: 20px;
  color: rgba(196, 196, 196, 0.6);
}
.close-button:hover {
  color: rgba(196, 196, 196, 0.8);
}

// mobile
@media only screen and (max-width: 800px) and (min-width: 500px) {

  a[mat-stroked-button] {
    margin-right: auto;
    margin-left: auto;
    width: 75%;
  }

}
