:host {
  display: block;
  backdrop-filter: blur(10px);
  background: hsla(0, 0%, 100%, .3) !important;
}

mat-divider {
  padding-bottom: 10px;
}

mat-expansion-panel {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  background: transparent;
  color: white;

  mat-panel-title {
    color: white;
  }
  mat-panel-description {
    color: #c5c5c5;
    display: block;
    text-align: end;
  }
}

.empty-search {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-top: 30px;
  text-align: center;
  img {
    width: 100%;
    max-width: 150px;
    margin: auto;
    display: block;
    padding-bottom: 10px;
  }
}

:host ::ng-deep .mat-expansion-indicator::after {
  color: white;
}

.celestial-body {
  border: 3px solid white;
  color: white;
  cursor: pointer;
  .symbol {
    font-size: 40px;
    padding-right: 10px;
  }
}
.celestial-body:hover {
  border: 3px solid white;
  background: hsla(0, 0%, 100%, .3);
}

.celestial-body.star {
  border-color: rgb(185, 167, 0);
  color: rgb(185, 167, 0);
}
.celestial-body.star:hover {
  border-color: rgb(232, 210, 0);
}

.celestial-body.satellite {
  border-color: #620002;
}
.celestial-body.satellite:hover {
  border-color: #910003;
}

