<mat-divider></mat-divider>

<!-- Search result -->
<mat-accordion multi *ngIf="searchResult && searchResult.length > 0">
  <mat-expansion-panel expanded class="mat-elevation-z0">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ searchResult.length | i18nPlural: { '=1': 'NB result', 'other': 'NB results' } | translate: { NB: searchResult.length } }}
      </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-grid-list [cols]="nbCol" gutterSize="5px" rowHeight="70px">
      <mat-grid-tile *ngFor="let body of searchResult" [class]="'celestial-body ' + body.type" (click)="onBodySelected(body)">
        <img *ngIf="HAS_SYMBOL.includes(body)" [src]="'assets/symbols/' + body.id + '.svg'" [alt]="body.id | translate">
        <span class="name">{{ body.id | translate }}</span>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-expansion-panel>
</mat-accordion>

<!-- No search result -->
<div class="empty-search" *ngIf="searchResult && searchResult.length === 0">
  <img src="assets/empty_search.svg" [alt]="'No results' | translate">
  <h2>{{ 'No results' | translate }}</h2>
  <h4>
    {{ 'Try' | translate }}
    <a routerLink="" (click)="onBodySelected(JUPITER)">{{ JUPITER.id | translate }}</a>{{ ', ' | translate }}
    <a routerLink="" (click)="onBodySelected(MOON)">{{ 'the Moon' | translate }}</a>{{ ' or ' | translate }}
    <a routerLink="" (click)="onBodySelected(GANYMEDE)">{{ GANYMEDE.id | translate }}</a>
  </h4>
</div>

<!-- Empty search -->
<mat-accordion *ngIf="!searchResult" multi>

  <!-- Sun + inner planets -->
  <mat-expansion-panel expanded class="mat-elevation-z0">
    <mat-expansion-panel-header>
      <mat-panel-title>{{ SUN.id | translate }}</mat-panel-title>
      <mat-panel-description>
        {{ 'NB planets' | translate:{ NB: SUN.satellites.length } }}
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-grid-list [cols]="nbCol" gutterSize="10px" rowHeight="50px">
      <mat-grid-tile [class]="SUN.type" (click)="onBodySelected(SUN)">
        <img *ngIf="HAS_SYMBOL.includes(SUN)" [src]="'assets/symbols/' + SUN.id + '.svg'" [alt]="SUN.id | translate">
        <span class="name">{{ SUN.id | translate }}</span>
      </mat-grid-tile>
    </mat-grid-list>

      <ng-container *ngFor="let planet of INNER_PLANETS">
        <mat-grid-list [cols]="nbCol" gutterSize="10px" rowHeight="50px">
          <mat-grid-tile [class]="planet.type" (click)="onBodySelected(planet)">
            <img *ngIf="HAS_SYMBOL.includes(planet)" [src]="'assets/symbols/' + planet.id + '.svg'" [alt]="planet.id | translate">
            <span class="name">{{ planet.id | translate }}</span>
          </mat-grid-tile>
          <mat-grid-tile *ngFor="let moon of planet.satellites" [class]="moon.type" (click)="onBodySelected(moon)">
            <img *ngIf="HAS_SYMBOL.includes(moon)" [src]="'assets/symbols/' + moon.id + '.svg'" [alt]="moon.id | translate">
            <span class="name">{{ moon.id | translate }}</span>
          </mat-grid-tile>
        </mat-grid-list>
      </ng-container>
  </mat-expansion-panel>

  <!-- Outer planets -->
  <mat-expansion-panel *ngFor="let planet of OUTER_PLANETS" [expanded]="planet.satellites.length <= 2" class="mat-elevation-z0">
    <mat-expansion-panel-header>
      <mat-panel-title>{{ planet.id | translate }}</mat-panel-title>
      <mat-panel-description *ngIf="planet.satellites.length">
        {{ planet.satellites.length | i18nPlural: { '=1': 'NB satellite', 'other': 'NB satellites' } | translate: { NB: planet.satellites.length } }}
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-grid-list [cols]="nbCol" gutterSize="10px" rowHeight="50px">
      <mat-grid-tile [class]="planet.type" (click)="onBodySelected(planet)">
        <img *ngIf="HAS_SYMBOL.includes(planet)" [src]="'assets/symbols/' + planet.id + '.svg'" [alt]="planet.id | translate">
        <span class="name">{{ planet.id | translate }}</span>
      </mat-grid-tile>
      <mat-grid-tile *ngFor="let moon of planet.satellites" [class]="moon.type" (click)="onBodySelected(moon)">
        <img *ngIf="HAS_SYMBOL.includes(moon)" [src]="'assets/symbols/' + moon.id + '.svg'" [alt]="moon.id | translate">
        <span class="name">{{ moon.id | translate }}</span>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-expansion-panel>

  <!-- Dwarf planets -->
  <mat-expansion-panel class="mat-elevation-z0">
    <mat-expansion-panel-header>
      <mat-panel-title>{{ 'Dwarf planets' | translate }}</mat-panel-title>
      <mat-panel-description>
        {{ 'NB1 dwarf planets and NB2 satellites' | translate:{ NB1: DWARF_PLANETS.length, NB2: NB_DWARF_PLANETS_SATELLITES } }}
      </mat-panel-description>
    </mat-expansion-panel-header>

    <ng-template ngFor let-planet [ngForOf]="DWARF_PLANETS">
      <mat-grid-list [cols]="nbCol" gutterSize="10px" rowHeight="50px">
        <!-- The dwarf planet -->
        <mat-grid-tile [class]="planet.type" (click)="onBodySelected(planet)">
          <img *ngIf="HAS_SYMBOL.includes(planet)" [src]="'assets/symbols/' + planet.id + '.svg'" [alt]="planet.id | translate">
          <span class="name">{{ planet.id | translate }}</span>
        </mat-grid-tile>
        <!-- The dwarf planet moon's -->
        <mat-grid-tile *ngFor="let moon of planet.satellites" [class]="moon.type" (click)="onBodySelected(moon)">
          <img *ngIf="HAS_SYMBOL.includes(moon)" [src]="'assets/symbols/' + moon.id + '.svg'" [alt]="moon.id | translate">
          <span class="name">{{ moon.id | translate }}</span>
        </mat-grid-tile>
      </mat-grid-list>
    </ng-template>
  </mat-expansion-panel>

  <!-- Lagrange points -->
  <mat-expansion-panel class="mat-elevation-z0">
    <mat-expansion-panel-header>
      <mat-panel-title>{{ 'Lagrange points' | translate }}</mat-panel-title>
    </mat-expansion-panel-header>

    <mat-grid-list [cols]="nbCol" gutterSize="10px" rowHeight="50px" class="lagrange-points-grid">
      <ng-template ngFor let-point [ngForOf]="EARTH.lagrangePoints">
        <mat-grid-tile (click)="onLagrangePointSelected(point)" class="lagrange-point">
          <span class="name">{{ 'Sun–Earth ' + point.type | translate }}</span>
        </mat-grid-tile>
      </ng-template>
    </mat-grid-list>
  </mat-expansion-panel>

</mat-accordion>
