:host {
    display: block;
    background-color: rgb(36, 36, 36);
}

svg {
    width: 100%;
    height: 100%;
}

:host ::ng-deep .celestial-body {
    stroke: rgb(90, 90, 90);
    stroke-width: 1;
    fill: rgb(43, 43, 43);
}