@use '@angular/material' as mat;
@import '~src/custom-theme';

:host {
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgb(31, 31, 31);
  overflow: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.scene {
  width: 100%;
  height: 100%;
}

:host ::ng-deep {

  .hide-scale .scale, .hide-scale .compass {
    display: none;
  }

  .hide-reticule .reticuleV, .hide-reticule .reticuleH {
    display: none;
  }

  .hide-labels .label-path, .hide-labels .label, .hide-labels .label-symbol {
    display: none;
  }

  .hide-orbits .orbit {
    display: none;
  }

  .hide-orbits-satellites .orbit.satellite {
    display: none;
  }

  svg:not(.hide-milkyway) {
    background-image: url("../../assets/milky-way.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  .reticuleV, .reticuleH {
    stroke: #383838;
    stroke-width: 1px;
    fill: transparent;
  }

  .celestial-body {
    vector-effect: non-scaling-stroke;
    stroke: rgb(90, 90, 90);
    stroke-width: 1;
    fill: rgb(43, 43, 43);
    cursor: pointer;
  }

  .celestial-body.satellite {
    stroke-width: 0;
    vector-effect: none;
    fill: rgb(101, 101, 101);
  }

  .celestial-body.dwarf_planet {
    stroke-width: 0;
    vector-effect: none;
  }

  .celestial-body.sun {
    stroke: rgb(168, 160, 114);
    stroke-width: 1;
    fill: rgb(185, 167, 0);
  }

  .celestial-body.venus {
    stroke: #ffe1ad;
    stroke-width: 1;
    fill: #f1e5c8;
  }

  .celestial-body.earth {
    stroke: #213e70;
    stroke-width: 1;
    fill: #3B74D6;
  }

  .celestial-body.mars {
    stroke: #633725;
    stroke-width: 1;
    fill: #DB7755;
  }

  .celestial-body.jupiter {
    stroke: #BF8936;
    stroke-width: 1;
    fill: #CDC095;
  }

  .celestial-body.saturn {
    stroke: #BF8936;
    stroke-width: 1;
    fill: #CDC095;
  }

  .celestial-body.uranus {
    stroke: #628288;
    stroke-width: 1;
    fill: #A3D9E2;
  }

  .celestial-body.neptune {
    stroke: #02334b;
    stroke-width: 1;
    fill: #0276A5;
  }

  .celestial-body.pluto {
    fill: #d5b89f;
  }

  .celestial-body.io {
    stroke: #D6C251;
  }

  .celestial-body.europa {
    fill: #E5C36C;
  }

  .celestial-body.titan {
    fill: #DEC863;
  }

  .label {
    fill: white;
    cursor: pointer;
  }

  .label.selected {
    fill: mat.get-color-from-palette($solar-system-primary);
  }

  .label-path {
    stroke: mat.get-color-from-palette($solar-system-primary, lighter);
    stroke-width: 1;
    fill: transparent;
  }

  .label-symbol {
    cursor: pointer;
    @include recolor(#ffffff);
  }

  .label-symbol.selected {
    @include recolor(mat.get-color-from-palette($solar-system-primary));
  }

  .group-label:hover {
    .label {
      fill: mat.get-color-from-palette($solar-system-primary, lighter);
    }
    .label-symbol {
      @include recolor(mat.get-color-from-palette($solar-system-primary, lighter));
    }
  }

  .orbit {
    stroke: rgb(255, 255, 255);
    stroke-width: 0.5;
    shape-rendering: auto;
    vector-effect: non-scaling-stroke;
    fill: none;
  }

  .orbit.hovered {
    stroke: mat.get-color-from-palette($solar-system-primary);
    stroke-width: 1;
  }

  .orbit.selected {
    stroke: mat.get-color-from-palette($solar-system-primary);
    stroke-width: 1;
  }

  .lagrange-point {
    pointer-events: bounding-box;
    path {
      vector-effect: non-scaling-stroke;
      stroke-width: 1;
      stroke: rgba(255, 255, 255, 0.68);
    }
  }
  .lagrange-point:hover path {
    stroke: mat.get-color-from-palette($solar-system-primary);
  }

  .hidden {
    display: none;
  }

  .scale {
    path {
      stroke: rgb(255, 255, 255);
      stroke-width: 1px;
      fill: none;
    }
    text {
      fill: rgb(255, 255, 255);
    }
  }

  .compass text {
    fill: rgb(255, 255, 255);
  }
  .compass text:last-child {
    font-size: 25px;
  }
}
