:host {
    display: block;
    background-color: rgb(31, 31, 31);
}

svg {
    width: 100%;
    height: 100%;
}

:host ::ng-deep {
    .celestial-body {
        stroke: rgb(90, 90, 90);
        stroke-width: 1;
        fill: rgb(43, 43, 43);
    }

    .celestial-body.sun {
        stroke: rgb(168, 160, 114);
        stroke-width: 1;
        fill: rgb(185, 167, 0);
    }

    .tooltip {
        fill: white;
        cursor: pointer;
    }
    .tooltip:hover {
        fill: rgb(91, 148, 255);
    }

    .tooltip-path {
        stroke: rgb(0, 132, 255);
        stroke-width: 2;
        fill: transparent;
    }

    .orbit {
        stroke: rgb(255, 255, 255);
        stroke-width: 0.5;
        shape-rendering: auto;
        vector-effect: non-scaling-stroke;
        fill: none;
    }

    .zoom-level-solar-system .orbit.satellite {
        display: none;
    }

    .zoom-level-solar-system .tooltip.satellite {
        display: none;
    }
}
