/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
  background-color: rgb(31, 31, 31);
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
  color: white;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  border-radius: 8px;
  background: #c9c9c9;
}
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: #8d8d8d;
}
::-webkit-scrollbar-thumb:hover {
  background: #494949;
}
