@use '@angular/material' as mat;
@import '~src/custom-theme';

:host {
  display: block;
  width: 100%;
  height: 100%;
}

.content {
  width: 100%;
  height: 100%;
  position: relative;
}

$toolbar-height: 64px;

mat-toolbar {
  z-index: 1;
  height: $toolbar-height;
  backdrop-filter: blur(10px);
  background: hsla(0, 0%, 100%, .3) !important;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;

  .logo {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
    height: $toolbar-height;
  }
  .logo svg {
    height: $toolbar-height;
    width: $toolbar-height;
    stroke: #c5c5c5;
    fill: #c5c5c5;
  }
  .logo h1 {
    display: inline-block;
    line-height: $toolbar-height;
    vertical-align: top;
    color: white;
    font-weight: lighter;
    font-size: 22px;
  }
  .logo:hover {
    svg {
      stroke: mat.get-color-from-palette($solar-system-primary);
      fill: mat.get-color-from-palette($solar-system-primary);
    }
    h1 {
      color: mat.get-color-from-palette($solar-system-primary);
    }
  }

  .search-field {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    span {
      vertical-align: bottom;
      padding-right: 10px;
      color: rgba(0, 0, 0, 0.5);
    }
    button {
      color: rgba(0, 0, 0, 0.5);
    }
  }

  .close-button, .setting-button {
    color: rgba(0, 0, 0, 0.5);
    font-size: 25px;
    margin-right: 15px;
  }
  .setting-button {
    font-size: 32px;
  }
}

:host ::ng-deep .search-field .mat-form-field-flex {
  padding-right: 5px;
}

app-search-panel, app-settings-panel {
  width: 100%;
  height: calc(100% - #{$toolbar-height});
  overflow-y: auto;
  z-index: 3;
  position: absolute;
  top: $toolbar-height;
  left: 0;
}
