@use '@angular/material' as mat;
@import '~src/custom-theme';

:host {
  display: block;
  width: 100%;
  height: 100%;
}

.content {
  width: 100%;
  height: 100%;
  position: relative;
}

$toolbar-height: 68px;
$color: #c5c5c5;

.toolbar {
  background: hsl(0, 0%, 40%) !important;
  z-index: 1;
  height: $toolbar-height;
  padding: 0;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .logo {
    z-index: 2;
    cursor: pointer;
    height: $toolbar-height;
  }
  .logo svg {
    height: $toolbar-height;
    width: $toolbar-height;
    stroke: $color;
    fill: $color;
  }
  .logo h1 {
    display: inline-block;
    line-height: 60px;
    vertical-align: top;
    color: $color;
    font-weight: lighter;
    font-size: 30px;
  }
  .logo:hover {
    svg {
      stroke: #ffffff;
      fill: #ffffff;
    }
    h1 {
      color: #ffffff;
    }
  }

  .search-field {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    cursor: text;
    color: $color;
    width: min(max(50%, 500px), calc(100% - 150px));
    input {
      color: $color;
      font-size: 20px;
      line-height: 1;
    }
    input::placeholder {
      color: rgba($color, 0.5);
      font-size: 20px;
    }
    .prefix {
      color: $color;
    }
    button {
      color: rgb($color, 0.5);
    }
    button:hover {
      color: rgb($color, 0.75);
    }
    button, .prefix {
      font-size: 20px;
      line-height: 1;
    }
    .prefix {
      padding-left: 10px;
      padding-right: 15px;
    }
  }

  .close-button, .menu-button {
    color: rgb($color, 0.5);
    margin: 10px 15px 0 15px;
  }
  .close-button:hover, .menu-button:hover {
    color: rgb($color, 0.75);
  }
  .close-button {
    font-size: 25px;
  }
  .menu-button {
    font-size: 34px;
  }
}

@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  .toolbar {
    backdrop-filter: blur(10px);
    background: hsla(0, 0%, 100%, .3) !important;
  }
}

:host ::ng-deep .search-field .mat-form-field-outline {
  color: rgb($color, 0.5);
}
:host ::ng-deep .search-field .mat-form-field-outline-thick div {
  background-color: rgb($color, 0.1);
}

::ng-deep .toolbar-menu {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  box-shadow: none;
}

:host ::ng-deep .search-field .mat-form-field-flex {
  padding-right: 5px;
}

::ng-deep .settings-dialog-panel mat-dialog-container,
::ng-deep .contact-dialog-panel mat-dialog-container,
::ng-deep .about-dialog-panel mat-dialog-container,
::ng-deep .legals-dialog-panel mat-dialog-container {
  background: hsl(0, 0%, 40%);
}
@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  ::ng-deep .settings-dialog-panel mat-dialog-container,
  ::ng-deep .contact-dialog-panel mat-dialog-container,
  ::ng-deep .about-dialog-panel mat-dialog-container,
  ::ng-deep .legals-dialog-panel mat-dialog-container {
    backdrop-filter: blur(10px);
    background: hsla(0, 0%, 100%, 0.15);
  }
}

app-search-panel {
  width: 100%;
  height: calc(100% - #{$toolbar-height});
  overflow-y: auto;
  z-index: 3;
  position: absolute;
  top: $toolbar-height;
  left: 0;
}

// mobile
@media only screen and (max-width: 1150px) {

  .logo h1 {
    display: none !important;
  }

}
