@use '@angular/material' as mat;
@import '~src/custom-theme';

:host {
  display: block;
  width: 100%;
  height: 100%;
}

.content {
  width: 100%;
  height: 100%;
  position: relative;
}

$toolbar-height: 68px;
$color: #c5c5c5;

.toolbar {
  z-index: 1;
  height: $toolbar-height;
  backdrop-filter: blur(10px);
  background: hsla(0, 0%, 100%, .3) !important;
  padding: 0;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .logo {
    z-index: 2;
    cursor: pointer;
    height: $toolbar-height;
  }
  .logo svg {
    height: $toolbar-height;
    width: $toolbar-height;
    stroke: $color;
    fill: $color;
  }
  .logo h1 {
    display: inline-block;
    line-height: 60px;
    vertical-align: top;
    color: white;
    font-weight: lighter;
    font-size: 30px;
  }
  .logo:hover {
    svg {
      stroke: mat.get-color-from-palette($solar-system-primary);
      fill: mat.get-color-from-palette($solar-system-primary);
    }
    h1 {
      color: mat.get-color-from-palette($solar-system-primary);
    }
  }

  .search-field {
    cursor: text;
    color: $color;
    width: min(max(50%, 500px), 100%);
    input {
      color: $color;
      font-size: 20px;
      line-height: 1;
    }
    input::placeholder {
      color: rgba($color, 0.5);
      font-size: 20px;
    }
    button, .prefix {
      color: $color;
      font-size: 20px;
      line-height: 1;
    }
    .prefix {
      padding-left: 10px;
      padding-right: 15px;
    }
  }

  .close-button, .menu-button {
    color: $color;
    font-size: 25px;
    margin-top: 10px;
    margin-right: 15px;
  }
  .menu-button {
    font-weight: bold;
  }
}

:host ::ng-deep .search-field .mat-form-field-outline {
  color: $color;
}
:host ::ng-deep .search-field .mat-form-field-outline-thick div {
  background-color: rgb($color, 0.1);
}

::ng-deep .toolbar-menu {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  box-shadow: none;
}

:host ::ng-deep .search-field .mat-form-field-flex {
  padding-right: 5px;
}

::ng-deep .settings-dialog-panel mat-dialog-container,
::ng-deep .contact-dialog-panel mat-dialog-container,
::ng-deep .about-dialog-panel mat-dialog-container,
::ng-deep .legals-dialog-panel mat-dialog-container {
  backdrop-filter: blur(10px);
  background: hsla(0, 0%, 100%, 0.15);
}

app-search-panel {
  width: 100%;
  height: calc(100% - #{$toolbar-height});
  overflow-y: auto;
  z-index: 3;
  position: absolute;
  top: $toolbar-height;
  left: 0;
}
