<mat-toolbar>
  <div class="logo">Solar system</div>

  <mat-form-field appearance="fill" class="search-field">
    <span matPrefix>🚀&#xFE0E;</span>
    <input #search matInput placeholder="Navigate" autocomplete="off" (click)="showSearchPanel = true">
    <button mat-icon-button
            matSuffix
            *ngIf="showSearchPanel"
            (click)="search.value ? search.value = '' : showSearchPanel = false">
      ✖&#xFE0E;
    </button>
  </mat-form-field>
</mat-toolbar>

<div class="content">
  <router-outlet></router-outlet>

  <app-search-panel *ngIf="showSearchPanel" @searchPanelAnimation [search]="search.value">
  </app-search-panel>
</div>
