<mat-toolbar>
  <div class="logo" (click)="onLogoClick()" >
    <svg width="150" height="150" viewBox="0 0 150 150" fill="none" xmlns="http://www.w3.org/2000/svg">
      <circle style="fill:none;stroke-width:3;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" cx="75" cy="75" r="50"/>
      <circle style="fill-opacity:1;stroke-width:1;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" cx="75" cy="75" r="20"/>
      <circle style="fill-opacity:1;stroke-width:1;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" cx="75" cy="25" r="10"/>
    </svg>
    <h1>{{ 'APP_TITLE' | translate }}</h1>
  </div>

  <mat-form-field appearance="fill" class="search-field" (click)="openSearchPanel()">
    <span matPrefix>🚀&#xFE0E;</span>
    <input #search matInput [placeholder]="translate.get('Navigate') | async" autocomplete="off">
    <button mat-icon-button
            matSuffix
            *ngIf="showSearchPanel && search.value && search.value !== ''"
            (click)="search.value = ''">
      ✖&#xFE0E;
    </button>
  </mat-form-field>

  <button *ngIf="showSettingsPanel || showSearchPanel" mat-icon-button class="close-button" (click)="onCloseClick()">
    ✖&#xFE0E;
  </button>
  <button  *ngIf="!showSettingsPanel && !showSearchPanel" mat-icon-button class="setting-button" (click)="openSettingsPanel()">
    &equiv;
  </button>
</mat-toolbar>

<div class="content">
  <router-outlet></router-outlet>

  <app-search-panel *ngIf="showSearchPanel" @panelAnimation [search]="search.value">
  </app-search-panel>

  <app-settings-panel *ngIf="showSettingsPanel" @panelAnimation>
  </app-settings-panel>
</div>
