<p>Made with ❤ by <a href="https://github.com/lebesnec" target="_blank">Christophe Le Besnerais</a> in <a href="https://goo.gl/maps/LYnctkZZYqTdrsfCA" target="_blank">Grenoble, France</a>.</p>
<mat-divider></mat-divider>

<p>how it work TODO</p>
<mat-divider></mat-divider>

<p>Built with</p>
<a href="https://angular.io" target="_blank">
  <img alt="logo angular" height="100" src="assets/angular.png">
</a>
<a href="https://d3js.org" target="_blank">
  <img alt="logo d3.js" height="100" src="assets/d3.png">
</a>
<a href="https://github.com" target="_blank">
  <img alt="logo github" height="100" src="assets/github.png">
</a>
