<p [innerHTML]="'ABOUT_CONTENT_1' | translate"></p>

<h1>{{ 'Method of calculation' | translate }}</h1>
<p [innerHTML]="'ABOUT_CONTENT_2' | translate"></p>
<p [innerHTML]="'ABOUT_CONTENT_3' | translate"></p>
<p [innerHTML]="'ABOUT_CONTENT_4' | translate"></p>

<h1>{{ 'Credits' | translate }}</h1>
<p [innerHTML]="'ABOUT_CONTENT_5' | translate"></p>
<p [innerHTML]="'ABOUT_CONTENT_6' | translate"></p>
<ul>
  <li [innerHTML]="'ABOUT_CONTENT_7' | translate"></li>
  <li [innerHTML]="'ABOUT_CONTENT_8' | translate"></li>
</ul>
<p [innerHTML]="'ABOUT_CONTENT_8' | translate">Images of celestial bodies courtesy of <a href="https://www.wikipedia.org" target="_blank">Wikipedia</a>.</p>

<h1>{{ 'Built with' | translate }}</h1>
<a href="https://angular.io" target="_blank">
  <img alt="logo angular" height="100" src="assets/angular.png">
</a>
<a href="https://d3js.org" target="_blank">
  <img alt="logo d3.js" height="100" src="assets/d3.png">
</a>
<a href="https://github.com" target="_blank">
  <img alt="logo github" height="100" src="assets/github.png">
</a>
